<h1> This blog: </h1>

<p>Title:<%=@blog.title%> </p>
<br>
<p><%=@blog.content%></p>
<br>
<br>
<p><%= link_to 'go back home', home_path%></p>
<br>
<br>
<p> NOT FINISHED WITH EDIT BUTTON
<%= button_to 'edit blog post', blog_path(@blog), method:  :delete %>
</p>
<br>
<br>
<p><%= link_to 'delete blog post', blog_path(@blog), data:{'turbo-method': :delete, turbo_confirm: 'Are you sure you want to delete this precious memory?'} %></p>